* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html,
body {
  height: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.clear {
  clear: both;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

header .nav-mobile {
  display: none;
  width: 32px;
  height: 32px;
  background-image: url("../assets/menu.png");
  background-size: 100% 100%;
  cursor: pointer;
}

header .nav-mobile:hover ul {
  display: block;
}

header .nav-mobile ul {
  display: none;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  color: white;
  list-style: none;
  background-color: blueviolet;
  text-align: center;
}

header .nav-mobile ul li {
  padding: 8px 0;
  border-bottom: 1px solid black;
}

header .nav-mobile ul li a {
  color: black;
}

header {
  width: 100%;
  background-color: red;
  padding: 10px 2%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .logo {
  width: 100%;
  text-align: center;
  padding: 0 2%;
}

header .logo h2 {
  text-transform: uppercase;
  color: white;
}

header .search {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .search input[type="text"] {
  width: 80%;
  height: 45px;
  border: 0;
  border-radius: 8px 0 0 8px;
  padding: 5px 10px;
  font-size: 16px;
}

header .search a i {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 45px;
  height: 45px;
  border-radius: 0 8px 8px 0;
}

header .nav-desktop {
  width: 100%;
  padding: 0 2%;
}

header .nav-desktop nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header .nav-desktop nav ul li a {
  text-transform: uppercase;
  color: white;
}

header .nav-desktop nav ul li a:hover,
header .nav-desktop nav ul li a.checked {
    text-decoration: underline;
}

section.navegation nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border-bottom: 1px solid #333; */
  -webkit-box-shadow: 0 20px 4px -10px black;
  -moz-box-shadow: 0 8px 4px -10px black;
  box-shadow: 0 8px 4px -10px black;
}

section.navegation nav ul li {
  margin: 10px 20px;
}

section.navegation nav ul li a {
  opacity: 0.6;
  color: #333;
  transition: 0.4s;
}

section.navegation nav ul li a:hover,
section.navegation nav ul li a.checked {
  opacity: 1;
}



@media screen and (max-width: 876px) {
  header .logo h2 {
    font-size: 16px;
  }

  header .nav-desktop nav ul li a {
    font-size: 13px;
    padding: 0 5px;
  }

  header .search input[type="text"] {
    height: 40px;
  }

  header .search a i {
    width: 40px;
    height: 40px;
  }
}

@media screen and (max-width: 600px) {
  header .nav-desktop {
    display: none;
  }

  header .nav-mobile {
    display: block;
  }

  header .logo {
    width: 33.3%;
  }

  header .search {
    width: 33.3%;
    margin-left: -50px;
  }
}
