<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="/css/index.css" />
        <link rel="stylesheet" href="/all.css" />
        <title>Loja Ibotiramas</title>
    </head>
    <body>
        <header>
            <div class="logo">
                <a href="/">Ibotiramas</a>
            </div>
            <!--logo-->
            <div class="search">
                <input type="text" name="search" id="search" />
                <a href="#"><i class="fas fa-search"></i></a>
            </div>
            <!--search-->
            <div class="nav-desktop">
                <nav>
                    <ul>
                        <li><a class="checked" href="/">Home</a></li>
                        <li><a href="/register">Entrar/registrar</a></li>
                        <li><a href="/cart">Carrinho</a></li>
                    </ul>
                </nav>
            </div>
            <!--nav-desktop-->
            <div class="nav-mobile">
                <nav>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/register">Entrar/Registrar</a></li>
                        <li><a href="/cart">Carrinho</a></li>
                    </ul>
                </nav>
            </div>
            <!--nav-mobile-->
            <div class="clear"></div>
            <!--clear-->
        </header>

        <section class="navegation">
            <nav>
                <ul>
                    <li><a class="checked" href="#">Todos os produtos</a></li>
                    <li><a href="#">Masculino</a></li>
                    <li><a href="#">Feminino</a></li>
                    <li><a href="#">Infantil</a></li>
                </ul>
            </nav>
        </section>
        <!--navegation-->

        <section class="products">
            <div class="wrapper">
                {% for sneaker in product %}
                <a href="/product">
                    <div class="single-product">
                        <img src="{{sneaker.img}}>" alt="" />
                        <h3>{{sneaker.title}}</h3>
                      </div>
                      <p>R$ {{sneaker.price}}</p>
                      <button>Comprar</button>
                </a>
                {% endfor %}
            </div>
            <!--wrapper-->
        </section>
        <!--products-->

        <section class="info">
            <div class="info-wrapper">
                <div class="single-info">
                    <a href="/">atendimento 7777-7777</a>
                </div>
                <div class="single-info">
                    <a href="/">canal de vendas</a>
                </div>
                <div class="single-info">
                    <a href="/">cartões ibotiramas</a>
                </div>
                <div class="single-info">
                    <a href="/">venda com a gente</a>
                </div>
            </div>
            <!--info-wrapper-->
        </section>
        <!--info-->

        <footer>
            <p>Todos os direitos reservados</p>
        </footer>
    </body>
</html>
